* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    /* Colors */
    --bg-color: #ffffff;
    --ft-color: #323238;
    --icon-color: #323238;
    --btn-color-1: #E1E1E6;
    --btn-color-2: #02799D;

    font-family: 'Roboto', sans-serif;

    background: var(--bg-color);
    color: var(--icon-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark-mode {
    /* Colors */
    --bg-color: #121214;
    --ft-color: #ffffff;
    --icon-color: #C4C4CC;
    --btn-color-1: #29292E;
    --btn-color-2: #0A3442;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.8rem;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 1200px) {
    main {
        flex-direction: row;
        gap: 19.2rem;
    }
}

/* Timer */
#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.timer-display {
    display: grid;
    grid-template-columns: 1fr 4rem 1fr;
    align-items: flex-end;
    max-width: 40rem;
}

.timer-controls {
    display: flex;
    max-width: 31.2rem;
    gap: clamp(2rem, 0.5000rem + 4.1667vw, 4rem);
}

/* Timer Buttons */
.timer-controls button {
    background: transparent;
    border: none;
    width: 4.8rem;

    transition: all .1s ease-in;
}

.timer-controls svg path {
    fill: var(--icon-color);
}

.timer-controls button:disabled {
    opacity: 25%;
}

button:hover:enabled {
    transform: scale(105%);
}

/* Input */
.timer-display label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    position: relative;
    opacity: 0;
    animation: opacityEffect 4s ease 4s infinite;
}

.timer-display label::after {
    content: '↓';
    position: absolute;
    transform: translate(4px, -2px);
}

@keyframes opacityEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.timer-display input, span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: clamp(10rem, 8.0500rem + 5.4167vw, 12.6rem);
    color: var(--ft-color);
}

.timer-display input {
    background: none;
    border: none;
    outline: none;
    width: 2ch;
    justify-self: end;
    color: var(--ft-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.timer-display span:nth-child(2) {
    text-align: center;
}

.timer-display span:nth-child(3) {
    width: max-content; 
} 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--ft-color);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--ft-color);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--ft-color);
}

/* Sounds */
#sounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: clamp(1.6rem, 0.4000rem + 3.3333vw, 3.2rem);
    justify-content: center;
}

#sounds button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3.2rem;
    padding: 2.4rem;
    border-radius: 2.4rem;
    border: none;
    background: var(--btn-color-1);
    height: 15.2rem;
    width: 13.8rem;
    transition: all .1s ease-in;
}

#sounds svg path {
    fill: var(--icon-color);
}

#sounds .btn-active svg path {
    fill: #ffffff;
}

#sounds .btn-active  {
    background: var(--btn-color-2);
}

/* Reset styles Range */
input[type=range] {
    width: 100%;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
input[type=range]::-moz-range-track {
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Style Thumb */
input[type=range]::-webkit-slider-thumb {
    background: var(--ft-color);
    height: 16px;
    width: 16px;
    border-radius: 100%;
    cursor: pointer;
    margin-top: -6px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    background: var(--ft-color);
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    background: var(--ft-color);
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.btn-active input[type=range]::-webkit-slider-thumb {
    background: #ffffff;
}

.btn-active input[type=range]::-moz-range-thumb {
    background: #ffffff;
}

.btn-active input[type=range]::-ms-thumb {
    background: #ffffff;
}

/* Style track */
input[type=range]::-webkit-slider-runnable-track {
    background: var(--ft-color);
    height: 4px;
    border-radius: 4px;
}
  
input[type=range]::-moz-range-track {
    background: var(--ft-color);
    height: 4px;
    border-radius: 4px;
}
  
input[type=range]::-ms-track {
    background: var(--ft-color);
    height: 4px;
    border-radius: 4px;
}

.btn-active input[type=range]::-webkit-slider-runnable-track {
    background: #ffffff;
}

.btn-active input[type=range]::-moz-range-track {
    background: #ffffff;
}

.btn-active input[type=range]::-ms-track {
    background: #ffffff;
}

/* Pop-up */
.endTime {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endTime .popup {
    background: var(--bg-color);
    border: 1px solid #E1E1E6;
    border-radius: 2rem;
    width: 32rem;
    padding: 2.4rem;
}

.endTime p {
    font-size: 1.6rem;
}

.endTime .buttons {
    margin-top: 1.6rem;
    display: flex;
    gap: 1.6rem;
}

.endTime button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: var(--ft-color);

    width: 100%;
    border-radius: 2.4rem;
    border: none;
    background: var(--btn-color-1);
    padding: 1.6rem;
}

.hide {
    display: none;
}

/* Dark or Light Mode */
.btn-toggle-theme {
    position: absolute;
    top: clamp(1.6rem, -1.7000rem + 9.1667vw, 6rem);
    right: clamp(1.6rem, -1.7000rem + 9.1667vw, 6rem);
}

.btn-toggle-theme svg path {
    fill: var(--ft-color);
}

.btn-toggle-theme svg:hover {
    cursor: pointer;
}